<ng-template #navList>
  <nav class="sidebar-nav" aria-label="Dashboards">
    <a
      routerLink="/pipeline"
      routerLinkActive="sidebar-nav__link--active"
      class="sidebar-nav__link"
      (click)="mobileOpen.set(false)"
    >
      <svg data-p-icon="chart-line" size="20"></svg>
      <span class="sidebar-nav__label">Pipeline</span>
    </a>
    <a
      routerLink="/conversion"
      routerLinkActive="sidebar-nav__link--active"
      class="sidebar-nav__link"
      (click)="mobileOpen.set(false)"
    >
      <svg data-p-icon="percentage" size="20"></svg>
      <span class="sidebar-nav__label">Conversion &amp; Win/Loss</span>
    </a>
    <a
      routerLink="/aging"
      routerLinkActive="sidebar-nav__link--active"
      class="sidebar-nav__link"
      (click)="mobileOpen.set(false)"
    >
      <svg data-p-icon="clock" size="20"></svg>
      <span class="sidebar-nav__label">Aging</span>
    </a>
  </nav>
</ng-template>

<aside class="sidebar-static">
  <ng-container [ngTemplateOutlet]="navList" />
</aside>

<p-drawer [(visible)]="mobileOpen" position="left" [modal]="true" styleClass="sidebar-drawer" header="Dashboards">
  <ng-container [ngTemplateOutlet]="navList" />
</p-drawer>
