<ng-template #navList let-isCollapsed="isCollapsed">
  <nav class="sidebar-nav" aria-label="Main">
    @for (node of visibleNav(); track node.label) {
      <app-nav-node
        [node]="node"
        [depth]="0"
        [isCollapsed]="isCollapsed"
        (leafClick)="onLeafClick()"
        (expandRequest)="expandRequest.emit()"
      />
    }
  </nav>
</ng-template>

<aside class="sidebar-static" [class.sidebar-static--collapsed]="collapsed()">
  <div class="sidebar-brand">
    <span class="sidebar-brand__mark">
      <svg data-p-icon="chart-bar" size="18"></svg>
    </span>
    <span class="sidebar-brand__name">Sales Delivery BI</span>
  </div>

  <ng-container [ngTemplateOutlet]="navList" [ngTemplateOutletContext]="{ isCollapsed: collapsed() }" />
</aside>

<p-drawer [(visible)]="mobileOpen" position="left" [modal]="true" styleClass="sidebar-drawer" header="Menu">
  <ng-container [ngTemplateOutlet]="navList" [ngTemplateOutletContext]="{ isCollapsed: false }" />
</p-drawer>
